[submodule "pyCloudSim"]
	path = pyCloudSim
    #url = git@github.com:vonpupp/pyCloudSim.git
	url = https://github.com/vonpupp/pyCloudSim.git
[submodule "planetlab-workload-traces"]
	path = planetlab-workload-traces
    #url = git@github.com:vonpupp/planetlab-workload-traces.git
	url = https://github.com/vonpupp/planetlab-workload-traces.git
